<!-- Display number of reviews -->
<% if @count_reviews == 1 %>
  <h4><%= @count_reviews %> Comentário sobre <%= @resume.user.first_name %></h4>
<% elsif @count_reviews > 1 || @count_reviews == 0 %>
  <h4><%= @count_reviews %> Comentários sobre <%= @resume.user.first_name %></h4>
<% end %>

<!-- Display all reviews -->
<% @meetings.each do |meeting| %>
  <% if !meeting.review_title.nil? && !meeting.review_content.nil?  %>
    <div class="card-review  margin-bottom-sm">
      <div class="review-avatar">
        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
      </div>

      <div class="review-content">
        <strong><%= meeting.review_title %></strong>
        <p><%= meeting.review_content %></p>
      </div>
    </div>
  <% end %>
<% end %>

