<!-- Display number of reviews -->
<div class="row">
  <div class="col-xs-10 col-xs-offset-2">
    <% if @count_reviews == 1 %>
      <h4><%= @count_reviews %> Comentário sobre <%= @resume.user.first_name %></h4>
    <% elsif @count_reviews > 1 || @count_reviews == 0 %>
      <h4><%= @count_reviews %> Comentários sobre <%= @resume.user.first_name %></h4>
    <% end %>
  </div>
</div>

<!-- stars -->
<%= render 'shared/users/avg', avg_rating: @avg_rating %>
<!-- <p> <%= @avg_rating %></p> -->
<!-- stars -->

<!-- Display all reviews -->
<% @meetings.each do |meeting| %>
  <div class="row">
    <% if !meeting.review_title.nil? && !meeting.review_content.nil?  %>
      <div class="card-review  margin-bottom-sm">
        <!-- Avatar image -->
        <div class="col-xs-2">
          <div class="review-avatar">
            <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
          </div>
        </div>

        <!-- Review content -->
        <div class="col-xs-10">
          <div class="review-content">
            <strong><%= meeting.review_title %></strong>
            <p><%= meeting.review_content %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

