<!-- Changes navbar ONLY for index page -->
<% content_for(:navbar_class, "navbar-home") %>

<!-- Changes alert message for index page -->
<% content_for(:alert_class, "alert-home") %>

<!-- Search Bar -->
<div class="banner banner-sm" style="background-image: url(<%= image_path 'landing_page.jpg' %>);">
  <%= render '/shared/banner_form' %>
</div>

<!-- Body -->
<div class="container margin-v-md">
  <!-- If there's some result -->
  <div class="col-sm-10 col-sm-offset-1">
    <p class="pull-right"><%= @resumes.size %> <%= result_search(params, @resumes) %></p>
  </div>
    <!-- Search Results if there's some resume-->
    <% @resumes.each do |resume| %>
      <% @meetings = Meeting.where(undergraduate_id: resume.user.id)  %>
      <% @count = 0 %>
      <% @meetings.each { |meeting| @count += meeting.rating if !meeting.rating.nil? } %>

      <% @avg_rating = (@count.to_f / @meetings.size).round(2) unless @meetings.size == 0 %>
      <div class="col-sm-12">
        <div class="row undergrad-card">
          <%= link_to "", user_path(resume.user), class: 'card-link'%>
          <div class="col-xs-4 content text-center">
            <%= image_tag user_photo_index(resume), class: "img-thumbnail img-responsive img-circle" %>
            <h4><%= resume.user.first_name %> <%= resume.user.last_name %><%= ", #{age_calculator(resume.user)}" %></h4>
          </div>
          <div class="col-xs-5 text-center content right-column">
            <h3><%= resume.course.name %></h3>
            <h6><%= resume.university.name %></h6>
            <h5><%= resume.user.personal_description %></h5>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: <%= resume.relative_completion %>%;">
                <p><%= resume.relative_completion %>%</p>
              </div>
            </div>
            <div class="row position">
              <div class="col-xs-6 col-xs-offset-3">
                <div class="stance">
                  <div class="stances">
                    <p>Posicionamento: </p>
                  </div>
                  <div class="stances">
                    <% if resume.stance %>
                    <a class="btn btn-md btn-success" style="cursor: pointer;">
                      <i class="fa fa-thumbs-up"></i></a>
                    <% else %>
                      <a class="btn btn-md btn-danger" style="cursor: pointer;">
                      <i class="fa fa-thumbs-down"></i></a>
                   <% end %>
                  </div>
                </div>
                <div class="col-xs-6 col-xs-offset-3">
                    <%= render '/shared/users/avg' %>
                  <div class="stars">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- end: ~> col-sm-10 -->
    <% end %> <!-- end: ~> @resumes iterator-->
</div> <!-- end: ~> Body  -->
