<!-- Search Bar -->
<div class="banner banner-sm" style="background-image: url(<%= image_path 'bw_college_graduation_day.jpg' %>);">
  <%= render '/shared/banner_form' %>
</div>

<!-- Body -->
<div class="container margin-v-md">
  <!-- Search Results -->
  <% @resumes.each do |resume| %>
    <div class="col-sm-10 col-sm-offset-1 ">
      <div class="row undergrad-card">
        <%= link_to "", profile_resume_path(resume), class: 'card-link'%>
        <div class="col-xs-4 content text-center">
          <!-- resume.user.facebook_picture_url # Quando tivermos foto dos usuários -->
          <%= image_tag 'http://via.placeholder.com/100x100', class: "avatar avatar-large img-thumbnail img-responsive" %>
          <h5><%= resume.course.name %></h5>
          <h6><%= resume.university.name %></h6>
        </div>
        <div class="col-xs-8 text-center content right-column">
          <h3><%= resume.user.first_name %> <%= resume.user.last_name %></h3>
          <h4><%= resume.user.personal_description %></h4>
          <p>Posicionamento: </p>
          <div class="card-footer">
            <div class="controls">
              <a href="#"><i class="fa fa-thumbs-up fa-2x"></i></a>
              <a href="#"><i class="fa fa-thumbs-down fa-2x"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- end: ~> col-sm-10 -->
  <% end %>
</div> <!-- end: ~> Body  -->
