<!-- Search Bar -->
<div class="banner banner-sm" style="background-image: url(<%= image_path 'bw_college_graduation_day.jpg' %>);">
  <%= render '/shared/banner_form' %>
</div>

<!-- Body -->
<div class="container margin-v-md">
  <!-- Search Results -->
  <% @resumes.each do |resume| %>
    <% @meetings = Meeting.where(undergraduate_id: resume.user.id)  %>
    <% @count = 0 %>
    <% @meetings.each { |meeting| @count += meeting.rating if !meeting.rating.nil? } %>

    <% @avg_rating = (@count.to_f / @meetings.size).round(2) unless @meetings.size == 0 %>
    <div class="col-sm-10 col-sm-offset-1 ">
      <div class="row undergrad-card">
        <%= link_to "", user_path(resume.user), class: 'card-link'%>
        <div class="col-xs-4 content text-center">
          <!-- resume.user.facebook_picture_url # Quando tivermos foto dos usuários -->
          <%= image_tag 'http://via.placeholder.com/100x100', class: "avatar avatar-large img-thumbnail img-responsive" %>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: <%= resume.relative_completion %>%;">
              <p><%= resume.relative_completion %>%</p>
            </div>
          </div>
          <h5><%= resume.course.name %></h5>
          <h6><%= resume.university.name %></h6>
        </div>
        <div class="col-xs-8 text-center content right-column">
          <h3><%= resume.user.first_name %> <%= resume.user.last_name %></h3>
          <h4><%= resume.user.personal_description %></h4>
          <div class="row position">
            <div class="col-xs-6 col-xs-offset-3">
              <div class="stance">
                <p>Posicionamento: </p>
                <% if resume.stance == "1" %>
                  <a style="cursor: pointer;"><i class="fa fa-thumbs-up fa-2x"></i></a>
                <% elsif resume.stance == "0" %>
                  <a style="cursor: pointer;"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i></i></a>
                <% else %>
                  <a style="cursor: pointer;"><i class="fa fa-thumbs-down fa-2x"></i></a>
                <% end %>
              </div>
              <div class="col-xs-6 col-xs-offset-3">
                <div class="stars">
                <% if @avg_rating >= 1 && @avg_rating < 1.5 %>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                <% elsif @avg_rating >= 1.5 && @avg_rating < 2 %>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star-half" aria-hidden="true"></i></h5>
                <% elsif @avg_rating >= 2 && @avg_rating < 2.5 %>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star-half" aria-hidden="true"></i></h5>
                <% elsif @avg_rating >= 3 && @avg_rating < 3.5 %>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star-half" aria-hidden="true"></i></h5>
                <% elsif @avg_rating >= 4 && @avg_rating < 4.5 %>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star-half" aria-hidden="true"></i></h5>
                <% elsif @avg_rating >= 4.5 && @avg_rating < 5 %>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star-half" aria-hidden="true"></i></h5>
                <% elsif @avg_rating == 5 %>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                  <h5><i class="fa fa-star" aria-hidden="true"></i></h5>
                <% else %>
                  <h5 style="color: rgba(41,41,41,0.7)"><i class="fa fa-star" aria-hidden="true"></i></h5>
                <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- end: ~> col-sm-10 -->
  <% end %>
</div> <!-- end: ~> Body  -->
