<!-- Changes navbar ONLY for index page -->
<% content_for(:navbar_class, "navbar-home") %>

<!-- Changes alert message for index page -->
<% content_for(:alert_class, "alert-home") %>

<!-- Search Bar -->
<div class="banner banner-sm" style="background-image: url(<%= image_path 'landing_page.jpg' %>);">
  <%= render '/shared/banner_form' %>
</div>

<!-- Body -->
<div class="container margin-v-md">
  <!-- If there's some result -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h4 class="flex flex-justify-center"><%= @resumes.size %> <%= result_search(params, @resumes) %></h4>
    </div>
  </div>
    <!-- Search Results if there's some resume-->
    <% @resumes.each do |resume| %>
      <% @meetings = Meeting.where(undergraduate: resume.user)  %>
      <% meetings_rated = 0 %>
      <% total_rating = 0 %>
      <% @meetings.each do |meeting| %>
        <% if meeting.rating.present? %>
          <% total_rating += meeting.rating %>
          <% meetings_rated += 1 %>
        <% end %>
      <% end %>
      <% @avg_rating = meetings_rated.zero? ? nil : total_rating.to_f / meetings_rated %>
      <% @avg_rating = @avg_rating.present? ? ((@avg_rating*2).round / 2.0) : nil %>
      <% @count_reviews = meetings_rated %>

      <!-- Resume card -->
      <%= render 'resume-card', resume: resume, avg_rating: @avg_rating, count_reviews: @count_reviews %>
    <% end %> <!-- end: ~> @resumes iterator-->
</div> <!-- end: ~> Body  -->
