<!-- Tooltip display -->
<% content_for(:js) do %>
  <%= javascript_tag do %>
    $('.thumb-icon').tooltip();
    $('.progress').tooltip();
  <% end %>
<% end %>

<div class="container margin-v-sm">
  <!-- School, análise do curso e reviews -->
  <div class="col-xs-12 col-sm-8 col-md-8 col-md-offset-1">
    <div class="card padding-v-md">
      <!-- School, course and avatar -->
      <div class="row">
        <%= render 'show-header' %>
      </div>

      <!-- Opnião do undergrad sobre o curso -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <div>
            <h4>
              Minhas experiências
            </h4>
            <div class="formatted-text">
              <%= simple_format @resume.academic_description %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card margin-v-xs padding-v-sm">
      <!-- Reviews -->
      <%= render 'show-reviews' %>
    </div>
  </div>

  <!-- Pagamento & Schedule -->
  <div class="col-xs-12 col-sm-4 col-md-3">
    <!-- <hr> -->
    <div class="card padding-md text-center">
    <div class="schedule text-center">
      <div class="schedule-price margin-bottom-sm">
        <h2>R$19,99</h2>
        <small class="text-gray">por 30 minutos</small>
      </div>

      <div class="schedule button">
        <%= link_to "Marcar reunião", user_events_path(@resume), class: "btn btn-primary" %>
        <small class="text-gray">*Você ainda não será cobrado</small>
      </div>
    </div>
    </div>
    <!-- <hr> -->
  </div>
</div>
