<!-- Tooltip display -->
<% content_for(:js) do %>
  <%= javascript_tag do %>
    $('.thumb-icon').tooltip();
    $('.progress').tooltip();
  <% end %>
<% end %>

<div class="container margin-v-sm">
  <!-- School, análise do curso e reviews -->
  <div class="col-xs-12 col-sm-8 col-md-8 col-md-offset-1">
    <div class="card padding-v-md">
      <!-- School, course and avatar -->
      <div class="row">
        <%= render 'show-header' %>
      </div>

      <!-- Opnião do undergrad sobre o curso -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <div>
            <h4>
              Minhas experiências
            </h4>
            <div class="formatted-text">
              <%= simple_format @resume.academic_description %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card margin-v-xs padding-v-sm">
      <!-- Reviews -->
      <%= render 'show-reviews' %>
    </div>
  </div>

  <!-- Pagamento & Schedule -->
  <div class="col-xs-12 col-sm-4 col-md-3">
    <!-- <hr> -->
    <div class="card padding-md text-center">
      <div class="schedule text-center">
        <div class="schedule-price margin-bottom-sm">
          <h2>Agenda</h2>
          <small class="text-gray">Ver horários de <%= @resume.user.first_name %></small>
        </div>
        <!-- In the case where the undergraduate has available slots -->
        <% if !@notification_button %>
          <div class="schedule button">
            <%= link_to "Marcar reunião", user_events_path(@resume), class: "btn btn-primary" %>
          </div>
        <!-- In the case where the undergraduate has not available slots.-->
        <% else %>
          <div class="schedule button">
            <button class="btn btn-primary" disabled="disabled" > Marcar reunião </button>
          </div>
          <!-- Button in case the undergraduate don't have any availability -->
          <div class="schedule button">
            <%= link_to "Notificar #{@resume.user.first_name}", user_notify_interest_path(@resume), id: "show-interest", class: "btn btn-primary"  %>
          </div>
          <small class="text-gray">
            <%= @resume.user.first_name %> ainda não indicou horários disponíveis.
          </small>
          <br>
          <small class="text-gray">
            Clique no link a cima e o/a notificaremos que você tem interesse em marcar uma conversa.
          </small>
          <br>
          <small class="text-gray">
            Assim que ele/a disponilizar uma agenda você será o primeiro a saber!
          </small>

        <% end %>

      </div>
    </div>
  </div>
</div>
