  <!-- Tooltip display -->
<% content_for(:js) do %>
  <%= javascript_tag do %>
    $('.thumb-icon').tooltip();
    $('.progress').tooltip();
  <% end %>
<% end %>

<div class="container margin-v-sm">
  <!-- School, análise do curso e reviews -->
  <div class="col-xs-12 col-sm-8 col-md-7 col-md-offset-1">
    <div class="left-box">
    <!-- School, course and avatar -->
    <div class="row margin-bottom-md">
      <%= render 'show-header' %>
    </div>

    <!-- Opnião do undergrad sobre o curso -->
    <div class="row margin-bottom-md">
      <h4>
        Minha opinião sobre o curso
      </h4>
      <p><%= @resume.academic_description %></p>
    </div>

    <!-- <hr class='margin-v-sm'> -->

    <!-- Reviews -->
    <div class="row">
      <%= render 'show-reviews' %>
    </div>
    </div>
  </div>

  <!-- Pagamento & Schedule -->
  <div class="col-xs-12 col-sm-4 col-md-3">
    <!-- <hr> -->
    <div class="left-box">
    <div class="schedule text-center margin-v-xs">
      <div class="schedule-price margin-bottom-sm">
        <h2>R$19,99</h2>
        <small class="text-gray">por 30 minutos</small>
      </div>

      <div class="schedule button">
        <%= link_to "Marcar reunião", user_events_path(@resume), class: "btn btn-primary" %>
        <small class="text-gray">*Você ainda não será cobrado</small>
      </div>
    </div>
    </div>
    <!-- <hr> -->
  </div>
</div>
