<h3>How many selected spots?</h3>
<%= @events.count %>
<h3>Final Price</h3>
<%=  (@events.count * 19.99) %>

<h3>Name of mentor</h3>
<%= @user.first_name + " " + @user.last_name %>

<h3>Hours Selecteds</h3>

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="custom" value="<%= { resume_id: @resume.id, events_ids: @events.map(&:id), highschooler_id: current_user.id }.to_json %>">
  <input type="hidden" name="hosted_button_id" value="D9P7PAFXJAU84">
  <input type="image" src="https://www.sandbox.paypal.com/pt_BR/BR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
  <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<% @events.each do  |event| %>
  <p>Start Time</p>
  <%= event.start %>
  <p>End Time</p>
  <%= event.end %>
<% end %>





<%= form_for(@meeting, :url => profile_meetings_path, :action => "POST") do |f| %>

  <%= f.hidden_field :resume, :value => @resume.id %>
  <%= f.hidden_field :event, :value => @events.map(&:id)  %>

  <%= f.submit %>
<% end %>




<!-- IF POST IS SUCCESSFUL DELETE FROM DATABSE event.destroy-->

