<div class="container margin-v-sm">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="card-plain"></div>
    <div class="card padding-h-sm padding-bottom-md">
      <div class="title flex-center-column margin-bottom-xs">
        <!-- Avatar -->
        <div class="header-undergrad-profile text-center">
          <!-- PERGUNTA: Por quê por default a imagem é 200x200? -->
          <%= display_user_avatar(@resume.user, size: 'md') %>
          <p><%= @resume.user.first_name %> <%= @resume.user.last_name %></p>

          <!-- TO-DO: Implement star rating -->
          <div class="review-stars">
            <%= render 'shared/stars', avg_rating: @avg_rating %>
          </div>
        </div>

        <div class="header-resume">
          <!-- Title -->
          <div class="resume-title">
            <div class="flex-row">
              <!-- thumbs icon -->
              <div class="resume-stance-mid">
                <% if @resume.stance %>
                  <div class="thumb-icon thumb-up" data-toggle="tooltip" data-animation="true" title="<%= @resume.user.first_name %> recomenda esse curso"> <!-- Toggles tooltip if hovered over -->
                    <i class="fa fa-thumbs-up fa" aria-hidden="true"></i>
                  </div>

                <% else %>
                  <div class="thumb-icon thumb-down" data-toggle="tooltip" data-animation="true" title="<%= @resume.user.first_name %> não recomenda esse curso"> <!-- Toggles tooltip if hovered over -->
                    <i class="fa fa-thumbs-down fa" aria-hidden="true"></i>
                  </div>
                <% end %>
              </div>

            <h2><%= @resume.course.name %></h2>
            </div>
            <p><%= @resume.university.name %></p>
          </div>
        </div>
      </div>

      <hr>
      <!-- 1.Detalhes -->
      <h4 class=""><strong>1. Detalhes</strong></h4>
      <br>

      <div class="flex-center-column margin-bottom-sm">
        <!-- Datas seecionadas -->
        <p>Datas selecionadas</p>
        <% if @events.present? %>
          <% @events.each do |event| %>
            <div class= "flex-row">
              <div class="well margin-bottom-xs padding-xs">
                <!-- day/month -->
                <span><%= event.start.day %>/<%= event.start.month %></span>
                <!-- start time -->
              </div>

              <div class="well margin-bottom-xs padding-xs">
                <span> <%= '%02d' % event.start.hour %>:<%= '%02d' % event.start.min %> </span> -
                <!-- end time -->
                <span> <%= '%02d' % event.end.hour %>:<%= '%02d' % event.end.min %> </span>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class= "flex-row">
            <div class="well margin-bottom-xs padding-xs">
              <span> Nenhuma conversa selecionada </span>
            </div>
          </div>
        <% end %>
        <br>

        <!-- Preço final -->
        <!-- <p>Preço final</p>
        <div class="well margin-bottom-xs padding-xs">
          <%# if(@events.count.zero?) %>
            <span>R$ 0</span>
          <%# else %>
            <span>R$ <%#=  (@events.count * 19.99) %></span>
          <%# end %>
        </div> -->
      </div>


      <!-- 2.Formas de pagamento -->
      <hr>
      <h4 class=""><strong>2. Confirmação</strong></h4>

      <!-- Paypal -->
      <!-- <form id="paypal_button" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="custom" value="<%#= { resume_id: @resume.id, events_ids: @events.map(&:id), highschooler_id: current_user.id }.to_json %>">
        <input type="hidden" name="hosted_button_id" value="D9P7PAFXJAU84">
        <input type="image" src="https://www.sandbox.paypal.com/pt_BR/BR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form> -->
      <!-- Paypal -->

      <!-- Confirmar Conversa -->
      <%= form_for(@meeting, :url => profile_meetings_path, :action => "POST") do |f| %>

      <div class="flex-column flex-align-center margin-v-xs">
          <%= f.hidden_field :resume, :value => @resume.id %>
          <%= f.hidden_field :event, :value => @events.map(&:id)  %>

          <%= f.submit class: 'btn btn-primary btn-block', value: "Agendar Conversa" %>
          <%= link_to "Problemas com agendamento?", new_feedbacks_path, class: "margin-top-xs" %>
      </div>
      <% end %>
      <!-- Confirmar Conversa -->
    </div>
  </div>
</div>
