<!-- List of the courses pending verification -->
<!-- panel boilerplate classes -->
<%= simple_form_for resume, url: profile_resume_path(resume), method: :patch, wrapper: :horizontal_form do |f| %>

  <!-- Curso, universidade e e-mail acadêmico -->
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <!-- SE o resume.academic_email já foi validado -->
      <% if lock_course_info %>
        <%= f.input :course, readonly: true, label: false, prompt: "Curso" %>
        <%= f.input :university, readonly: true, label: false, prompt: "Universidade" %>
        <!-- <div class="range-slider" data-toggle="tooltip" data-placement="bottom" data-animation="true" title="<%= resume.relative_completion %>%"> -->
          <%= f.input :school_email, readonly: true, label: false, placeholder: "E-mail da instituição de ensino", hint: 'Não pode ser alterado depois de validado.'%>
        <!-- </div> -->

      <!-- SE o resume.academic_email está para ser validado -->
      <% else %>
        <p><%= f.association :course, readonly: false, label: "Curso", prompt: "Curso" %></p>
        <p><%= f.association :university, readonly: false, label: "Universidade", prompt: "Universidade" %></p>
        <p><%= f.input :school_email, readonly: false, label: "E-mail acadêmico", placeholder: "E-mail da instituição de ensino", hint: 'Não será exibido para usuários.' %></p>
      <% end %>

      <hr class="margin-v-sm">
    </div>
  </div>

  <!-- Recomenda o curso ou não -->
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="">
        <h4 class="text-center no-margin">
          Você recomendaria seu curso/faculdade para outras pessoas?
        </h4>

        <!-- TO-DO: Isso aqui ainda vai dar merda, não está usando o simple_form! -->
        <div class="btn-group margin-v-xs" data-toggle="buttons">
          <label class="btn btn-primary margin-h-xs  <%= 'active' if resume.stance %>">
            <input type="radio" name="resume[stance]" value="true" id="option1" autocomplete="off" <%= 'checked' if resume.stance %>> <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          </label>

          <label class="btn btn-primary <%= 'active' unless resume.stance %>">
            <input type="radio" name="resume[stance]" value="false" id="option2" autocomplete="off" <%= 'checked' unless resume.stance %>> <i class="fa fa-thumbs-down" aria-hidden="true"></i>
          </label>
        </div>
      </div>

      <hr class="margin-v-sm">
    </div>
  </div>

  <!-- % do curso completado -->
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="">
        <h4 class="text-center no-margin">
          Em termos gerais, quanto do curso você já completou?
        </h4>

        <div class="range-slider margin-top-sm col-xs-8 col-xs-offset-2">
          <%= f.input_field :relative_completion, label: false, as: :range, input_html: { min: 10, max: 100, step: 5 } %>
        </div>
      </div>

      <hr class="margin-v-sm">
    </div>
  </div>

  <!-- Descrição pessoal sobre o curso -->
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="text-center margin-bottom-sm">
        <h4 class="no-margin">
          Fale um pouco sobre você e das suas atividades atuais e passadas na faculdade.
        </h4>

        <small class="text-gray">
          Você participou da empresa júnior? Trabalha enquanto estuda? É introvertido? Veio do interior para a cidade grande?
          <br>
          Essas informações farão o vestibulando se conectar com você na hora de escolher com quem conversar.
        </small>
      </div>

        <%= f.input :academic_description, label: false, :input_html => {:rows => 20}  %>
    </div>
  </div>

  <!-- Botões -->
  <div class="margin-v-xs text-center">
    <%= f.submit "Salvar alterações", class: "btn btn-primary" %>
    <p class="margin-v-xs">
      <%= link_to "Excluir curso", profile_resume_path(resume), data: { confirm: "Are you sure?" }, method: :delete , class: ""%>
    </p>
  </div>
<% end %>
