<div class="container margin-v-md">
  <div class="row">

    <!-- Profile side-bar -->
    <div class="col-xs-3">
      <%= render 'shared/profile/profile_side_bar' %>
    </div>

    <!-- List of courses -->
    <div class="col-xs-8">
      <h3>Meus cursos</h3>

      <!-- List of the courses pending verification -->
      <% @resumes.each do |resume| %>
        <% if resume.email_checked %>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">E-mail verificado</h3>
            </div>
            <div class="panel-body">
            <%= render 'resume-form', resume: resume, readonly: true, lock_course_info: true %>
            </div>
          </div>
        <% end %>
      <% end %>

      <!-- List of the courses pending verification -->
      <% @resumes.each do |resume| %>
        <% if !resume.email_checked %>
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">E-mail precisa ser verificado</h3>
            </div>
            <div class="panel-body">
            <%= render 'resume-form', resume: resume, readonly: false, lock_course_info: false %>
            </div>
          </div>
        <% end %>
      <% end %>

      <!-- Add a new course -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Adicione um novo curso</h3>
        </div>
        <div class="panel-body">
          <%= simple_form_for @new_resume, url:  profile_resumes_path, method: :post do |f| %>
            <div class="row">
              <div class="col-xs-6">
                <p><%= f.association :university, label: false, prompt: "Universidade" %></p>
                <p><%= f.association :course, label: false, prompt: "Curso" %></p>
                <p><%= f.input :school_email, label: false, placeholder: "E-mail da instituição de ensino" %></p>
              </div>
              <div class="col-xs-6">
                <p><%= f.input :relative_completion, label: false, prompt: "Nível de completude do curso", as: :select, collection: Resume::RELATIVE_COMPLETION %></p>
                <p><%= f.input :stance, label: false, prompt: "Posicionamento", as: :select, collection: [true, false] %></p>
                <p><%= f.input :academic_description, label: false, placeholder: "Descrição breve da sua experiência", :input_html => {:rows => 3}  %></p>
              </div>
            </div>
            <div class="text-center">
              <%= f.submit "Submeter para validação de e-mail", class: "btn btn-primary btn-xs" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

