<div class="container margin-v-md">
  <div class="row">

    <!-- Profile side-bar -->
    <div class="col-xs-3">
      <%= render 'shared/profile/profile_side_bar' %>
    </div>

    <!-- TO-DO: terminar os cards -->
    <!-- List of scheduled meetings -->
    <div class="col-xs-8">
      <h3>Conversas agendadas</h3>

      <!-- First attempt -->
      <% @future_meetings.each do |meeting| %>
          <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              Bate papo com
              <% if current_user.id == meeting.highschooler.id %>
                <%= meeting.undergraduate.first_name %>
              <% else %>
                <%= meeting.highschooler.first_name %>
              <% end %>
            </h4>
          </div>
          <div class="panel-body">
            <p><%= meeting.start_time %></p>
            <p><%= meeting.end_time %></p>
          </div>
        </div>
      <% end %>

      <!-- Second attempt -->
      <div class="list-group">
        <% @future_meetings.each do |meeting| %>
          <%= link_to root_path, class: "list-group-item" do %>
          <!-- <a href="#" class="list-group-item"> -->
            <div class="row">
              <div class="col-xs-4">
                <strong><%= meeting.start_time.strftime("%A, %d %b %y") %></strong>
                <p><%= meeting.start_time.strftime("%R") %> - <%= meeting.end_time.strftime("%R") %></p>
              </div>
              <div class="col-xs-4 text-center">
                <p>
                  Bate papo com
                  <% if current_user.id == meeting.highschooler.id %>
                    <%= meeting.undergraduate.first_name %>
                  <% else %>
                    <%= meeting.highschooler.first_name %>
                  <% end %>
                </p>
              </div>
              <div class="col-xs-4 text-center">
                <strong>Status</strong>
              </div>
            </div>
          <!-- </a> -->
          <% end %>
        <% end %>
      </div>



    </div>

  </div>
</div>
