<div class="container margin-v-md">
  <div class="row">

    <!-- Profile side-bar -->
    <div class="col-xs-3">
      <%= render 'shared/profile/profile_side_bar' %>
    </div>

    <!-- TO-DO: terminar os cards -->
    <!-- List of scheduled meetings to be attended-->
    <div class="col-xs-8">
      <h3>Conversas agendadas</h3>

      <div class="list-group">
        <% @future_meetings.each do |meeting| %>
          <%= link_to root_path, class: "list-group-item" do %> <%# TO-DO: profile_meeting_path(meeting)  %>
            <div class="row">
              <div class="col-xs-4">
                <strong><%= meeting.start_time.strftime("%A, %d %b %y") %></strong>
                <p><%= meeting.start_time.strftime("%R") %> - <%= meeting.end_time.strftime("%R") %></p>
              </div>
              <div class="col-xs-4 text-center">
                <p>
                  <% if current_user.id == meeting.highschooler.id %>
                    Conversa com <%= meeting.undergraduate.first_name %> sobre o curso de .. na .. <%# TO-DO: puxar nome da facul e curso de meeting %>
                  <% else %>
                    <%= meeting.highschooler.first_name %>
                  <% end %>
                </p>
              </div>
              <div class="col-xs-4 text-center">
                <strong>Status</strong>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>



    </div>

  </div>
</div>
