<div class="container margin-v-md">
  <div class="row">

    <!-- Profile side-bar -->
    <div class="col-xs-3">
      <%= render 'shared/profile/profile_side_bar' %>
    </div>

    <!-- TO-DO: makes "cards looks nice" -->
    <!-- List of scheduled meetings to be attended-->
    <div class="col-xs-8">
      <h3>Conversas agendadas</h3>

      <div class="list-group">
        <% @meetings.each do |meeting| %>

          <div class="list-group-item meeting-card <%= meeting.status %>" id="meeting<%= meeting.id %>">
            <div class="card-flex">
              <div class="sec-t1 with-right-border">
                <div>
                  <strong class="text-gray"><%= date_in_words(meeting) %></strong>
                  <p><%= (meeting.start_time).strftime("%R") %> - <%= (meeting.end_time).strftime("%R") %></p>
                </div>
                <div>
                  <strong class="text-gray">Status</strong>
                  <p class="<%= meeting.status %>_text" ><%= meeting_status(meeting) %></p>
                </div>
              </div>
              <div class="sec-t2 ">
                <div class="icon">
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <!-- In the case the current user is an udnergraduate -->
                <div class="names">
                  <div class="name-top text-left">
                    <strong>
                      <%= current_user == meeting.undergraduate ? "Eu" : meeting.undergraduate.first_name %>
                    </strong>
                    <p class="text-gray"><%= meeting.course_name %></p>
                    <p class="text-gray"><%= meeting.university_name %></p>
                  </div>
                  <div class="name-bottom text-left">
                    <strong><%= current_user == meeting.highschooler ? "Eu" : meeting.highschooler.first_name %></strong>
                  </div>
                </div>
              </div>
              <div class="sec-t3 ">
                <!-- Meetings that have ratings have already past -->
                <% if meeting.rating %>
                  <% if current_user == meeting.highschooler %>
                    <!-- <button type="button" class="btn btn-default btn-xs"><%#=  meeting.rating %></button> -->
                    <div class="review-stars">
                      <%= render 'shared/stars', avg_rating: meeting.rating %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="links">
                    <!-- Condition when the meeting has already past but don't have any rating -->
                    <% if meeting.extra_time < Time.current%>
                      <% if current_user == meeting.highschooler  %>
                        <small class="feedback-button">
                          <a class="font-blue" href="#">Gostou da conversa? Deixe um feedback</a>
                        </small>
                      <% end %>
                    <!-- Meetings that are in the future or happening now -->
                    <% else %>
                      <!-- Meetings that are happening now -->
                      <% if meeting.setting_up? || meeting.on_going? %>
                        <small> <%= link_to "Entrar na sala virtual", meeting.virtual_room, target: "_blank", rel: "nofollow", class: "font-blue"  %> </small>
                        <div>
                          <small class="skype-help">
                            <a class="font-blue xs" href="#">Problemas com seu link?</a>
                            <ul class="list-inline">
                              <li><i class="fa fa-envelope" aria-hidden="true"></i> <%= current_user == meeting.highschooler ? meeting.undergraduate.email : meeting.highschooler.email %></li>
                              <li><i class="fa fa-skype" aria-hidden="true"></i> <%= current_user == meeting.highschooler ? meeting.undergraduate.skype : meeting.highschooler.skype %></li>
                            </ul>
                          </small>
                        </div>
                      <!-- When we are 1 hour from receiving the link -->
                      <% elsif meeting.scheduled? && Time.current >= meeting.setup_time - 1.hour %>
                        <small> O link estará disponível em <strong> <%= (((meeting.setup_time) - Time.current)/60).round(0) %> </strong> minutos </small>
                      <% else %>
                        <small> O link estará disponível <strong>10 minutos </strong> antes do horário agendado</small>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div> <!-- card-flex div -->
            <div class="review-card margin-v-xs margin-h-xs">

              <%= simple_form_for meeting, url: profile_meeting_path(meeting), method: :patch do |f| %>
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <div class="stars margin-v-xs">
                      <% (1..5).each do |star| %>
                        <input type="radio" name="meeting[rating]" id="rating_<%= meeting.id %>_<%= star %>" value="<%= star %>" <%= meeting.rating == star ? "checked" : "" %>>
                        <label for="rating_<%= meeting.id %>_<%= star %>"></label>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <%= f.input :review_title, as: :string, label: false, placeholder: "Título" %>
                  </div>
                  <div class="col-xs-12">
                    <%= f.input :review_content, label: false, placeholder: "Review" %>
                  </div>
                </div>
                <div class="row">
                  <div class="text-center">
                    <%= f.submit "Salvar review", class: "btn btn-primary btn-xs" %>
                  </div>
                </div>
              <% end %> <!-- end: ~> simple_form_for -->
            </div>
          </div> <!-- list-group-itme div -->

        <% end %> <!-- end de iteração do meeting -->
      </div>
    </div>

  </div>
</div>
