<div class="container margin-v-md">
  <div class="row">

    <!-- Profile side-bar -->
    <div class="col-xs-3">
      <%= render 'shared/profile/profile_side_bar' %>
    </div>

    <!-- TO-DO: makes "cards looks nice" -->
    <!-- List of scheduled meetings to be attended-->
    <div class="col-xs-8">
      <h3>Conversas agendadas</h3>

      <div class="list-group">
        <% @meetings.each do |meeting| %>

          <div class="list-group-item meeting-card <%= meeting.status %>">
            <div class="card-flex">
              <div class="sec-t1 with-right-border">
                <div>
                  <strong class="text-gray"><%= meeting.date_in_words %></strong>
                  <p><%= (meeting.start_time).strftime("%R") %> - <%= (meeting.end_time).strftime("%R") %></p>
                </div>
                <div>
                  <strong class="text-gray">Status</strong>
                  <p class="<%= meeting.status %>_text" ><%= meeting_status(meeting) %></p>
                </div>
              </div>
              <div class="sec-t2 ">
                <!-- In the case the current user is an udnergraduate -->
                  <div class="name-top text-left">
                    <strong>
                      <%= current_user == meeting.undergraduate ? "Eu" : meeting.undergraduate.first_name %>
                    </strong>
                    <p class="text-gray"><%= meeting.course_name %></p>
                    <p class="text-gray"><%= meeting.university_name %></p>
                  </div>
                  <div class="name-bottom text-left">
                    <strong><%= current_user == meeting.highschooler ? "Eu" : meeting.highschooler.first_name %></strong>
                  </div>
              </div>
              <div class="sec-t3 text-center">
                <!-- Meetings that have ratings have already past -->
                <% if meeting.rating && current_user == meeting.highschooler %>
                  <button type="button" class="btn btn-default btn-xs"><%=  meeting.rating %></button>
                <% else %>
                  <!-- Condition when the meeting has already past but don't have any rating -->
                  <% if meeting.extra_time < Time.now && current_user == meeting.highschooler %>

                    <%= link_to "Gostou da conversa? Deixe um feedback", profile_meeting_path(meeting)%>
                  <!-- Meetings that are in the future or happening now -->
                  <% else %>
                    <!-- Meetings that are happening now -->
                    <% if meeting.setting_up? || meeting.on_going? %>
                      <%= link_to "Entrar na sala virtual", meeting.virtual_room, target: "_blank", rel: "nofollow", class: "btn btn-primary btn-xs"  %>
                      <p>Problemas com seu link?</p>
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <p><%= current_user == meeting.highschooler ? meeting.undergraduate.email : meeting.highschooler.email %></p>
                      <i class="fa fa-skype" aria-hidden="true"></i>
                      <p><%= current_user == meeting.highschooler ? meeting.undergraduate.skype : meeting.highschooler.skype %></p>
                    <!-- When we are 1 hour from receiving the link -->
                    <% elsif meeting.scheduled? && Time.now >= meeting.setup_time - 1.hour %>
                      <p> O link estará disponível em <%= (((meeting.setup_time) - Time.now)/60).round(0) %> minutos</p>
                    <% else %>
                      <p> O link estará disponível 10 minutos antes do horário agendado</p>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div> <!-- card-flex div -->
          </div> <!-- list-group-itme div -->
        <% end %> <!-- end de iteração do meeting -->
      </div>
    </div>

  </div>
</div>
