<div class="container margin-v-md">
  <div class="row">

    <!-- Profile side-bar -->
    <div class="col-xs-3">
      <%= render 'shared/profile/profile_side_bar' %>
    </div>

    <div class="col-xs-8">

      <div class="list-group">
        <div class="list-group-item">
          <%= simple_form_for @meeting, url: profile_meeting_path(@meeting), method: :patch do |f| %>
            <div class="row">
              <div class="col-xs-12">
                <% if @meeting.review_title.nil? %>
                  <p>Please, enter your review title:</p>
                  <div class="form-input">
                    <%= f.input :review_title, label: false, placeholder: "Title" %>
                  </div>
                <% else %>
                  <%= @meeting.review_title %>
                <% end %>
                <p>Review Content:</p>
                <p><%= f.input :review_content, label: false, placeholder: "Review" %></p>
              </div>
            </div>
            <div class="row">
              <div class="text-center">
                <%= f.submit "Salvar alterações", class: "btn btn-primary btn-xs" %>
              </div>
            </div>
          <% end %> <!-- end: ~> simple_form_for -->
        </div>
      </div>
    </div>

  </div>
</div>
