<div class="container margin-v-sm">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- Card -->
    <div class="card padding-sm">
      <!-- Título -->
      <div class="card-title text-center margin-bottom-md">
        <h2>
          Problemas com o site?
          <br>
        </h2>
        <small>
          Lamentamos o ocorrido.
          Ajude-nos a melhor sua experiência deixando um breve comentário sobre o que aconteceu.
        </small>
      </div>
      <!-- Formulário -->
      <div class="card-content">
        <%= form_tag(feedbacks_path, method: "post") do %>
          <!-- Text-area -->
          <div class="form-group">
            <%= text_area_tag(:feedback, nil, placeholder: "Deixe aqui seu feedback",  class: "form-control", rows: "10") %>
            <%= text_field_tag(:email, nil, placeholder: "E-mail para contato (opcional)", class: "form-control margin-v-xs") %>
            <%= text_field_tag(:referrer, @referrer, type: "hidden") %> <!-- useful so we know from which page the user came from -->
          </div>
          <!-- Button -->
          <div class="text-center">
            <%= submit_tag("Enviar Feedback", class: "btn btn-primary btn-block") %>
          </div>
        <% end %>

        <div class="contact">
          <div class="margin-v-sm">
            <hr>
            <p class="text-center">Ou entre em contato diretamente conosco</p>
          </div>

          <div class="contact-content ">
            <div class="contact-info">
              <div class="contact-icon">
                <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
              </div>

              <small>47 99188-0611</small>
            </div>

            <div class="contact-info">
              <div class="contact-icon">
                <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
              </div>

              <small>admin@quemjafez.com.br</small>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

