<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quem Já Fez?</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <!-- Google fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Pacifico" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Pacifico|Titillium+Web:300" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- Google fonts -->
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <div id='remote_container'></div>
    <!-- Include Required Prerequisites -->
    <script>
      <% if params[:user_id] %>
        window.user_undergraduate = <%= current_user && current_user.undergraduate %>;
        window.resume_id = <%= params[:user_id] %>
        window.is_same_user = <%= current_user == Resume.find(params[:user_id]).user %>
      <% end %>
    </script>


    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>


  </body>
</html>
